[submodule "module/DeepLiff"]
	path = module/DeepLiff
	url = git@github.com:pouya-codes/DeepLIIF.git
[submodule "module/hovernet"]
	path = module/hovernet
	url = https://github.com/vqdang/hover_net.git
