dominate==2.6.0
javabridge==1.0.19
jsonpatch==1.32
jsonpointer==2.1
scipy==1.6.2
torchfile==0.1.0
visdom==0.1.8.9
websocket-client==0.58.0
opencv-python
numba==0.53.1
scikit-learn==0.24.2
scikit-image==0.18.3